<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PW_APP_GROUPS_NAME</key>
	<string>group.iso.team.1</string>
	<key>Pushwoosh_APPID</key>
	<string>AC727-9D9BE</string>
	<key>Pushwoosh_LOG_LEVEL</key>
	<string>NONE</string>
	<key>UIAppFonts</key>
	<array>
		<string>K2D-Bold.ttf</string>
		<string>K2D-SemiBold.ttf</string>
		<string>K2D-Medium.ttf</string>
		<string>K2D-Regular.ttf</string>
		<string>SFPro-Display-Regular.otf</string>
		<string>BakbakOne-Regular.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
